
# X
LOCATE COMP "x[0]" SITE "E3";
LOCATE COMP "x[1]" SITE "D3";
LOCATE COMP "x[2]" SITE "C3";
LOCATE COMP "x[3]" SITE "C4";
LOCATE COMP "x[4]" SITE "C2";
LOCATE COMP "x[5]" SITE "B1";
LOCATE COMP "x[6]" SITE "B20";
LOCATE COMP "x[7]" SITE "B19";

IOBUF PORT "x[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "x[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "x[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "x[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "x[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "x[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "x[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "x[7]" IO_TYPE=LVCMOS33;

# Y
LOCATE COMP "y[7]" SITE "E1";
LOCATE COMP "y[6]" SITE "D2";
LOCATE COMP "y[5]" SITE "D1";
LOCATE COMP "y[4]" SITE "E2";
LOCATE COMP "y[3]" SITE "F2";
LOCATE COMP "y[2]" SITE "G2";
LOCATE COMP "y[1]" SITE "C1";
LOCATE COMP "y[0]" SITE "F1";

IOBUF PORT "y[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "y[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "y[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "y[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "y[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "y[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "y[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "y[7]" IO_TYPE=LVCMOS33;

# SATSUM
LOCATE COMP "satsum[7]" SITE "K1";
LOCATE COMP "satsum[6]" SITE "L4";
LOCATE COMP "satsum[5]" SITE "K2";
LOCATE COMP "satsum[4]" SITE "K3";
LOCATE COMP "satsum[3]" SITE "J1";
LOCATE COMP "satsum[2]" SITE "K4";
LOCATE COMP "satsum[1]" SITE "H1";
LOCATE COMP "satsum[0]" SITE "J3";

IOBUF PORT "satsum[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "satsum[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "satsum[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "satsum[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "satsum[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "satsum[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "satsum[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "satsum[0]" IO_TYPE=LVCMOS33;

