
#8MHz clock
LOCATE COMP "clock" SITE "G2";
IOBUF PORT "clock" IO_TYPE=LVCMOS33;

# reset
LOCATE COMP "reset" SITE "D2";

#X
LOCATE COMP "x[0]" SITE "E3";
LOCATE COMP "x[1]" SITE "D3";
LOCATE COMP "x[2]" SITE "C3";
LOCATE COMP "x[3]" SITE "C4";
LOCATE COMP "x[4]" SITE "C2";
LOCATE COMP "x[5]" SITE "B1";
LOCATE COMP "x[6]" SITE "B20";
LOCATE COMP "x[7]" SITE "B19";

IOBUF PORT "x[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "x[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "x[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "x[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "x[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "x[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "x[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "x[7]" IO_TYPE=LVCMOS33;

# Valid
LOCATE COMP "valid" SITE "E1";
IOBUF PORT "valid" IO_TYPE=LVCMOS33;

# Accum
LOCATE COMP "accumsum[7]" SITE "K1";
LOCATE COMP "accumsum[6]" SITE "L4";
LOCATE COMP "accumsum[5]" SITE "K2";
LOCATE COMP "accumsum[4]" SITE "K3";
LOCATE COMP "accumsum[3]" SITE "J1";
LOCATE COMP "accumsum[2]" SITE "K4";
LOCATE COMP "accumsum[1]" SITE "H1";
LOCATE COMP "accumsum[0]" SITE "J3";

IOBUF PORT "accumsum[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "accumsum[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "accumsum[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "accumsum[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "accumsum[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "accumsum[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "accumsum[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "accumsum[0]" IO_TYPE=LVCMOS33;

