/* ==========================================================================
   Syntax highlighting
   ========================================================================== */



   div.highlighter-rouge,
   figure.highlight {
     position: relative;
     margin-bottom: 1em;
     background: $base00;
     color: $base03;
     font-family: $monospace;
     font-size: $type-size-6;
     line-height: 1.8;
     border-radius: $border-radius;

     > pre,
     pre.highlight {
       margin: 0;
       padding: 1em;
     }
   }


   .highlight table td { padding: 5px; }
   .highlight table pre { margin: 0; }
   .highlight .cm {
     color: #999988;
     font-style: italic;
   }
   .highlight .cp {
     color: #999999;
     font-weight: bold;
   }
   .highlight .c1 {
     color: #999988;
     font-style: italic;
   }
   .highlight .cs {
     color: #999999;
     font-weight: bold;
     font-style: italic;
   }
   .highlight .c, .highlight .cd {
     color: #999988;
     font-style: italic;
   }
   .highlight .err {
     color: #a61717;
     /* background-color: #e3d2d2; */
   }
   .highlight .gd {
     color: #000000;
     background-color: #ffdddd;
   }
   .highlight .ge {
     color: #000000;
     font-style: italic;
   }
   .highlight .gr {
     color: #aa0000;
   }
   .highlight .gh {
     color: #999999;
   }
   .highlight .gi {
     color: #000000;
     background-color: #ddffdd;
   }
   .highlight .go {
     color: #888888;
   }
   .highlight .gp {
     color: #555555;
   }
   .highlight .gs {
     font-weight: bold;
   }
   .highlight .gu {
     color: #aaaaaa;
   }
   .highlight .gt {
     color: #aa0000;
   }
   .highlight .kc {
     color: #000000;
     font-weight: bold;
   }
   .highlight .kd {
     color: #000000;
     font-weight: bold;
   }
   .highlight .kn {
     color: #000000;
     font-weight: bold;
   }
   .highlight .kp {
     color: #000000;
     font-weight: bold;
   }
   .highlight .kr {
     color: #000000;
     font-weight: bold;
   }
   .highlight .kt {
     color: #445588;
     font-weight: bold;
   }
   .highlight .k, .highlight .kv {
     color: #000000;
     font-weight: bold;
   }
   .highlight .mf {
     color: #009999;
   }
   .highlight .mh {
     color: #009999;
   }
   .highlight .il {
     color: #009999;
   }
   .highlight .mi {
     color: #009999;
   }
   .highlight .mo {
     color: #009999;
   }
   .highlight .m, .highlight .mb, .highlight .mx {
     color: #009999;
   }
   .highlight .sb {
     color: #d14;
   }
   .highlight .sc {
     color: #d14;
   }
   .highlight .sd {
     color: #d14;
   }
   .highlight .s2 {
     color: #d14;
   }
   .highlight .se {
     color: #d14;
   }
   .highlight .sh {
     color: #d14;
   }
   .highlight .si {
     color: #d14;
   }
   .highlight .sx {
     color: #d14;
   }
   .highlight .sr {
     color: #009926;
   }
   .highlight .s1 {
     color: #d14;
   }
   .highlight .ss {
     color: #990073;
   }
   .highlight .s {
     color: #d14;
   }
   .highlight .na {
     color: #008080;
   }
   .highlight .bp {
     color: #999999;
   }
   .highlight .nb {
     color: #0086B3;
   }
   .highlight .nc {
     color: #445588;
     font-weight: bold;
   }
   .highlight .no {
     color: #008080;
   }
   .highlight .nd {
     color: #3c5d5d;
     font-weight: bold;
   }
   .highlight .ni {
     color: #800080;
   }
   .highlight .ne {
     color: #990000;
     font-weight: bold;
   }
   .highlight .nf {
     color: #990000;
     font-weight: bold;
   }
   .highlight .nl {
     color: #990000;
     font-weight: bold;
   }
   .highlight .nn {
     color: #555555;
   }
   .highlight .nt {
     color: #000080;
   }
   .highlight .vc {
     color: #008080;
   }
   .highlight .vg {
     color: #008080;
   }
   .highlight .vi {
     color: #008080;
   }
   .highlight .nv {
     color: #008080;
   }
   .highlight .ow {
     color: #000000;
     font-weight: bold;
   }
   .highlight .o {
     color: #000000;
     font-weight: bold;
   }
   .highlight .w {
     color: #bbbbbb;
   }
   .highlight {
     background-color: #f8f8f8;
   }


// div.highlighter-rouge,
// figure.highlight {
//   position: relative;
//   margin-bottom: 1em;
//   background: $base00;
//   color: $base05;
//   font-family: $monospace;
//   font-size: $type-size-6;
//   line-height: 1.8;
//   border-radius: $border-radius;

//   > pre,
//   pre.highlight {
//     margin: 0;
//     padding: 1em;
//   }
// }

// .highlight table {
//   margin-bottom: 0;
//   font-size: 1em;
//   border: 0;

//   td {
//     padding: 0;
//     width: calc(100% - 1em);
//     border: 0;

//     /* line numbers*/
//     &.gutter,
//     &.rouge-gutter {
//       padding-right: 1em;
//       width: 1em;
//       color: $base04;
//       border-right: 1px solid $base04;
//       text-align: right;
//     }

//     /* code */
//     &.code,
//     &.rouge-code {
//       padding-left: 1em;
//     }
//   }

//   pre {
//     margin: 0;
//   }
// }

// .highlight pre {
//   width: 100%;
// }

// .highlight .hll {
//   background-color: $base06;
// }
// .highlight {
//   .c {
//     /* Comment */
//     color: $base04;
//   }
//   .err {
//     /* Error */
//     color: $base08;
//   }
//   .k {
//     /* Keyword */
//     color: $base0e;
//   }
//   .l {
//     /* Literal */
//     color: $base09;
//   }
//   .n {
//     /* Name */
//     color: $base05;
//   }
//   .o {
//     /* Operator */
//     color: $base0c;
//   }
//   .p {
//     /* Punctuation */
//     color: $base05;
//   }
//   .cm {
//     /* Comment.Multiline */
//     color: $base04;
//   }
//   .cp {
//     /* Comment.Preproc */
//     color: $base04;
//   }
//   .c1 {
//     /* Comment.Single */
//     color: $base04;
//   }
//   .cs {
//     /* Comment.Special */
//     color: $base04;
//   }
//   .gd {
//     /* Generic.Deleted */
//     color: $base08;
//   }
//   .ge {
//     /* Generic.Emph */
//     font-style: italic;
//   }
//   .gh {
//     /* Generic.Heading */
//     color: $base05;
//     font-weight: bold;
//   }
//   .gi {
//     /* Generic.Inserted */
//     color: $base0b;
//   }
//   .gp {
//     /* Generic.Prompt */
//     color: $base04;
//     font-weight: bold;
//   }
//   .gs {
//     /* Generic.Strong */
//     font-weight: bold;
//   }
//   .gu {
//     /* Generic.Subheading */
//     color: $base0c;
//     font-weight: bold;
//   }
//   .kc {
//     /* Keyword.Constant */
//     color: $base0e;
//   }
//   .kd {
//     /* Keyword.Declaration */
//     color: $base0e;
//   }
//   .kn {
//     /* Keyword.Namespace */
//     color: $base0c;
//   }
//   .kp {
//     /* Keyword.Pseudo */
//     color: $base0e;
//   }
//   .kr {
//     /* Keyword.Reserved */
//     color: $base0e;
//   }
//   .kt {
//     /* Keyword.Type */
//     color: $base0a;
//   }
//   .ld {
//     /* Literal.Date */
//     color: $base0b;
//   }
//   .m {
//     /* Literal.Number */
//     color: $base09;
//   }
//   .s {
//     /* Literal.String */
//     color: $base0b;
//   }
//   .na {
//     /* Name.Attribute */
//     color: $base0d;
//   }
//   .nb {
//     /* Name.Builtin */
//     color: $base05;
//   }
//   .nc {
//     /* Name.Class */
//     color: $base0a;
//   }
//   .no {
//     /* Name.Constant */
//     color: $base08;
//   }
//   .nd {
//     /* Name.Decorator */
//     color: $base0c;
//   }
//   .ni {
//     /* Name.Entity */
//     color: $base05;
//   }
//   .ne {
//     /* Name.Exception */
//     color: $base08;
//   }
//   .nf {
//     /* Name.Function */
//     color: $base0d;
//   }
//   .nl {
//     /* Name.Label */
//     color: $base05;
//   }
//   .nn {
//     /* Name.Namespace */
//     color: $base0a;
//   }
//   .nx {
//     /* Name.Other */
//     color: $base0d;
//   }
//   .py {
//     /* Name.Property */
//     color: $base05;
//   }
//   .nt {
//     /* Name.Tag */
//     color: $base0c;
//   }
//   .nv {
//     /* Name.Variable */
//     color: $base08;
//   }
//   .ow {
//     /* Operator.Word */
//     color: $base0c;
//   }
//   .w {
//     /* Text.Whitespace */
//     color: $base05;
//   }
//   .mf {
//     /* Literal.Number.Float */
//     color: $base09;
//   }
//   .mh {
//     /* Literal.Number.Hex */
//     color: $base09;
//   }
//   .mi {
//     /* Literal.Number.Integer */
//     color: $base09;
//   }
//   .mo {
//     /* Literal.Number.Oct */
//     color: $base09;
//   }
//   .sb {
//     /* Literal.String.Backtick */
//     color: $base0b;
//   }
//   .sc {
//     /* Literal.String.Char */
//     color: $base05;
//   }
//   .sd {
//     /* Literal.String.Doc */
//     color: $base04;
//   }
//   .s2 {
//     /* Literal.String.Double */
//     color: $base0b;
//   }
//   .se {
//     /* Literal.String.Escape */
//     color: $base09;
//   }
//   .sh {
//     /* Literal.String.Heredoc */
//     color: $base0b;
//   }
//   .si {
//     /* Literal.String.Interpol */
//     color: $base09;
//   }
//   .sx {
//     /* Literal.String.Other */
//     color: $base0b;
//   }
//   .sr {
//     /* Literal.String.Regex */
//     color: $base0b;
//   }
//   .s1 {
//     /* Literal.String.Single */
//     color: $base0b;
//   }
//   .ss {
//     /* Literal.String.Symbol */
//     color: $base0b;
//   }
//   .bp {
//     /* Name.Builtin.Pseudo */
//     color: $base05;
//   }
//   .vc {
//     /* Name.Variable.Class */
//     color: $base08;
//   }
//   .vg {
//     /* Name.Variable.Global */
//     color: $base08;
//   }
//   .vi {
//     /* Name.Variable.Instance */
//     color: $base08;
//   }
//   .il {
//     /* Literal.Number.Integer.Long */
//     color: $base09;
//   }
// }

// .gist {
//   th, td {
//     border-bottom: 0;
//   }
// }